# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.*~
client/snapclient
server/snapserver
.vscode
GPATH
GRTAGS
GTAGS
build
bin
android/.idea
android/Snapcast/release

# debian packages
debian/.debhelper
debian/snapclient
debian/snapserver
debian/debhelper-build-stamp
debian/snapclient.debhelper.log
debian/snapserver.debhelper.log
debian/files
debian/snapclient.postinst.debhelper
debian/snapclient.postrm.debhelper
debian/snapclient.prerm.debhelper
debian/snapclient.substvars
debian/snapserver.postinst.debhelper
debian/snapserver.postrm.debhelper
debian/snapserver.prerm.debhelper
debian/snapserver.substvars
debian/tmp
obj-x86_64-linux-gnu

# clangd
.cache
compile_commands.json

# misc
notes.txt
sanitizer-suppressions.txt
snapserver.conf

extras/package/debian/snap*.debhelper.log
