[submodule "externals/popl"]
	path = externals/popl
	url = https://github.com/badaix/popl.git
[submodule "externals/asio"]
	path = externals/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "externals/flac"]
	path = externals/flac
	url = https://git.xiph.org/flac.git
[submodule "externals/ogg"]
	path = externals/ogg
	url = https://git.xiph.org/ogg.git
[submodule "externals/tremor"]
	path = externals/tremor
	url = https://git.xiph.org/tremor.git
[submodule "externals/aixlog"]
	path = externals/aixlog
	url = https://github.com/badaix/aixlog.git
