[submodule "externals/flac"]
	path = externals/flac
	url = https://git.xiph.org/flac.git
[submodule "externals/ogg"]
	path = externals/ogg
	url = https://git.xiph.org/ogg.git
[submodule "externals/tremor"]
	path = externals/tremor
	url = https://git.xiph.org/tremor.git
[submodule "externals/opus"]
	path = externals/opus
	url = https://git.xiph.org/opus.git
