[submodule "externals/flac"]
	path = externals/flac
	url = https://gitlab.xiph.org/xiph/flac.git
[submodule "externals/ogg"]
	path = externals/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "externals/tremor"]
	path = externals/tremor
	url = https://gitlab.xiph.org/xiph/tremor.git
[submodule "externals/opus"]
	path = externals/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "externals/oboe"]
	path = externals/oboe
	url = https://github.com/google/oboe.git
