[Unit]
Description=Snapcast client
After=network-online.target sound.target
Requires=network-online.target

[Service]
EnvironmentFile=-/etc/default/snapclient
Type=forking
ExecStart=/usr/sbin/snapclient $SNAPCLIENT_OPTS
PIDFile=/var/run/snapclient.pid
Restart=always

[Install]
WantedBy=multi-user.target
