[Unit]
Description=Snapcast client
After=network.target
EnvironmentFile=-/etc/default/snapclient

[Service]
Type=forking
ExecStart=/usr/sbin/snapclient $SNAPCLIENT_OPTS
PIDFile=/var/run/snapclient.pid

[Install]
WantedBy=multi-user.target
