[Unit]
Description=Snapcast client
After=network.target

[Service]
EnvironmentFile=-/etc/default/snapclient
Type=forking
ExecStart=/usr/sbin/snapclient $SNAPCLIENT_OPTS
PIDFile=/var/run/snapclient.pid

[Install]
WantedBy=multi-user.target
