Source: snapserver
Section: utils
Priority: extra
Maintainer: Johannes Pohl <johannes.pohl@badaix.de>
Build-Depends: debhelper (>= 9.0.0), libc6-dev, dh-systemd, libavahi-client3 (>= 0.6.16), libflac8 (>= 1.3.0), libogg0 (>= 1.0rc3), libvorbis0a (>= 1.1.2), libvorbisenc2 (>= 1.1.2)
Standards-Version: 3.8.4
Homepage: https://github.com/badaix/snapcast

Package: snapserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Snapcast server
 Snapcast is a multi-room client-server audio player, where all clients are
 time synchronized with the server to play perfectly synced audio. It's not a
 standalone player, but an extension that turns your existing audio player into
 a Sonos-like multi-room solution.
 .
 The server's audio input is a named pipe `/tmp/snapfifo`. All data that is fed
 into this file will be send to the connected clients. One of the most generic
 ways to use Snapcast is in conjunction with the music player daemon or Mopidy,
 which can be configured to use a named pipe as audio output.
