[Unit]
Description=Snapcast server
After=network.target
EnvironmentFile=-/etc/default/snapserver

[Service]
Type=forking
ExecStart=/usr/sbin/snapserver $SNAPSERVER_OPTS
PIDFile=/var/run/snapserver.pid

[Install]
WantedBy=multi-user.target
