[Unit]
Description=Snapcast client
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/snapclient -d
PIDFile=/var/run/snapclient.pid

[Install]
WantedBy=multi-user.target
