[Unit]
Description=Snapcast server
Documentation=man:snapserver(1)
Wants=pipewire.service pipewire-pulse.service
After=network-online.target time-sync.target pipewire.service pipewire-pulse.service

[Service]
EnvironmentFile=-/etc/default/snapserver
ExecStart=/usr/bin/snapserver --logging.sink=system --server.datadir=${HOME} $SNAPSERVER_OPTS
Restart=on-failure

[Install]
WantedBy=default.target
