[Unit]
Description=Snapcast server
After=network.target

[Service]
EnvironmentFile=-/etc/default/snapserver
Type=forking
ExecStart=/usr/sbin/snapserver $SNAPSERVER_OPTS
PIDFile=/var/run/snapserver.pid

[Install]
WantedBy=multi-user.target
